:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  min-height: 100%;
}

header, footer {
  background-color: #1F2937;
  padding: 2rem 0;
}

header > section {
  display: flex;
  align-items: center;
  max-width: 920px;
  margin: 0 auto;
}

header > nav {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.website-title {
  width: 50%;
}

.website-title > h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8
}

.website-title > p {
  font-size: 18px;
  color: #E5E7EB;
}

header > nav > h1 {
  font-size: 24px;
  color: #F9FAF8;
  margin-top: 0;
}

header > nav > ol {
  list-style: none;
  display: flex;
}

header > nav > ol > li {
  font-size: 18px;
  color: #E5E7EB;
  
}

header > section > img {
  width: 50%;
  height: 100%;
}

.projects img {
  width: 150px;
}